@media (max-width: 1200px)
    .promo
        padding-bottom: 67px
        .header
            &__official
                font-size: 11px
                span
                    margin-top: -3px
                    font-size: 17px
            &__logo
                width: 210px
            .button
                width: 145px
                height: 28px
            &__phone
                font-size: 17px
        &__header
            font-size: 40px
        &__subheader
            font-size: 22px
        &__wrapper
            .button_main
                width: 270px
                height: 47px
                margin-top: 60px
        &__link
            margin-top: 16px
    .advantages
        min-height: 455px
        padding: 61px 0 57px 0
